# Android Studio
*.iml
.idea/
.gradle/
local.properties

# Build and output folders
/build/
*/build/
.cxx/
.externalNativeBuild/
captures/

# macOS system files
.DS_Store

# IntelliJ
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Signing keys
*.jks
*.keystore

# Compiled code
*.class
*.dex

# APK and AAB files
*.apk
*.ap_
*.aab

# Logs
*.log

google-services.json
apikey.properties

